.tec{
    font-weight: bold;
}
/* .html{
    background-color: #E96228;
}
.css{
    background-color: #28A4D8;
}
.js{
    background-color: #EFD81D;
    color: black;
}
.react{
    background-color: black;
    color: #00D1F5;
}
.angular{
    background-color: #D61A15;
}
.java{
    background-color: #F4F4F4;
    color: #5382A1;
}
.spring{
    background-color: #6AAD3D;
}
.mysql{
    background-color: #144F61;
}
.oracle{
    background-color: white;
    color: #ED1D26;
}
.docker{
    background-color: #268DE8;
}
.git{
    background-color: white;
    color: #F05033;
}
.azure{
    background-color: #0078D7;
}
.node{
    background-color: #90C53F;
    color: black;
} */